/*RESET*/
* { box-sizing: border-box; }
body, h1, h2, h3, p, figure { margin: 0; padding: 0; }
a { color: inherit; text-decoration: none; }
p {line-height: 1.5;
font-size: 1rem; }
html { font-size: 18px; 
scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background: #f0f0f0; }

h1,h2{
   font-family: "Montserrat", sans-serif; 
   font-weight: 800;
   font-size: 2rem;}
h3 {
  font-family: "Montserrat", sans-serif; 
  font-size: 1.25rem;}
html, body {
  overflow-x: hidden;}

/* HEADER*/
.top-site {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between; 
  padding: 18px;
  background-color: rgba(255, 246, 246, 0.404);
  
   z-index: 1000;}
.logo {
 width: 88px;}

.menu-wrapper {
   position:fixed; 
  right: 10px;
z-index:99}
#menu-toggle {
   position:absolute;
   width:1px;
   height:1px;
   margin:-1px;
   padding:0;
   overflow:hidden;
   border:0; }
.menu-icon { 
  cursor:pointer;
  font-family:'Material Icons';
  font-size:32px;
  color:#050505; }
.menu-icon::before { 
  content:"menu"; }
.menu {
   position:absolute;
   top:100%;
   right:0;
   width:300px;
   background:rgba(0, 0, 0, 0.651);border-radius:8px;
   transform-origin:top;
   transform:scaleY(0);transition:transform 0.3s; }
.menu a { 
  display:block;
  padding:12px 16px;
  color:#fff;
  border-top:1px solid rgba(255,255,255,0.06);
  text-decoration:none; }
.menu a:hover { 
  background:rgba(255, 255, 255, 0.295); }
#menu-toggle:checked + .menu-icon::before {
   content:"close"; }
#menu-toggle:checked ~ .menu { 
  transform:scaleY(1); }

/*HERO*/

.hero {
  position: relative;
  width: 100%;
  height: 700px; 
  background-image: url(../Images/borboleta.jpg);
  background-size: cover;
  background-position: center;}
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.568);
  text-align: center;
  color: #f0f0f0;
  margin: 0 0 10px 0;
  padding-top: 300px;}
.hero-bg h1 {
  font-size: 3rem;}
.hero p{
  margin: 40px auto 0 auto;   
  width: 90%;            
  text-align: center;}
@media (max-width: 600px) {
  .hero p {
    max-width: 90%;       
    font-size: 0.95rem;    
    margin-top: 20px;
  }}

.btn{
 color: #64964e;
  background-color: #ffffff;
 font-size:1.3rem;
  font-weight: 400;
  display: inline-block;
  padding: 15px 40px; 
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width:auto;
  margin-top: 80px;}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);}
/*PORQUE*/
.contexto{
  text-align: center;
  margin: 35px auto 50px auto;
 width:75%;
 max-width: 80ch;}
.contexto h2{
    margin: 80px 0 80px 0;  }
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 60px 50px 60px;}

.percentagens {
    display: flex;
    flex: 1 1 30%; 
    flex-direction: column;
    margin-bottom: 30px;
    padding: 20px; 
    text-align: center;
    align-items: center;
    box-sizing: border-box; }

.percentagens h3 {
    padding-bottom: 5px;}

.image-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
    width: 90%; 
    aspect-ratio: 1;
    position: relative;}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    display: block;
    object-fit: cover;}

.image-container .numero {
    position: absolute;
    inset: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(30px, 10vw, 100px);
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 50%;
}


@media (max-width: 768px) {
    .info {
        flex-direction: column;
        margin: 20px;
    }
    .percentagens {
        flex: 1 1 100%; 
        padding: 15px;
    }
    .image-container {
        width: 60%; 
        margin: 0 auto 20px auto; 
    }
}
@media (min-width: 1200px) {
 
    .image-container {
        width: 60%;   
    }
}
/*HOW*/

.how{
  display:flex;
 justify-content: space-between;
 gap:30px;
 width:80%;
 padding-bottom: 35px;
 margin: 30px auto 80px auto;}

.what{
  width:45%;
    background-color: #ffffff; 
    margin:8px;
    border-radius: 12px;
  box-shadow: 0 4px 8px #00000020;
  padding: 30px ;
}
.what h2{
  padding-top: 5px;
   padding-bottom: 20px;
}
.what p{
  text-align: left;
margin: 10px;
}

video{
    display: block;
    width:100%;
    margin: 30px auto;
    border-radius: 8px;

}
.steps {
  width:45%;
  background-color: #ffffff;
  margin: 8px;
  border-radius: 12px;
  box-shadow: 0 4px 8px #00000020;
  padding: 30px;
}
.steps h2{
  padding-top: 5px;
  padding-bottom: 20px;
  
}

.step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10%;
}

.step .material-icons {
  font-size: 5em;
  color: #000000;
  margin-right: 12px;
  flex-shrink: 0;
}
.step-text {
  display: flex;
  flex-direction: column; 
}
.step-text h3 {
  text-align: left;
 
  font-weight: 600;
  margin: 05px 0;
  color: #000000;
}

.step-text p {
  text-align: left;
  margin: 4px 0 0 0;
 
  line-height: 1.5;
  color: #333;
}

  @media (max-width: 900px) {
  .how{flex-direction: column;}
  .how> *{
    
     flex-direction: column;
     width:100%;
  }}
  
/*FORMULARIO*/

.form-bg {
   position: relative; 
  background-color: #B1C4A4;
  
  padding: 50px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.vector {
  position: absolute;
  right:80px;
      bottom: -70px;;              
  width: 15%;             
  z-index: 1;                  
  pointer-events: none;        
}
@media (max-width: 768px) {
  .vector {
    display: none;
  }
}
.form {
  position: relative;
  z-index: 2;
  text-align: left;
  width: 100%;
  max-width: 600px; 
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;}

.form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1b5e20;}

.form p {
  text-align: center;
  margin-bottom: 20px;
  color: #333;}

.campo {
  margin-bottom: 20px;}

.campo label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.form input:not([type="submit"]), 
.form textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #cecdcd;
  font-size: 0.8rem;}

.form input:not([type="submit"]):focus, 
.form textarea:focus {
  outline: none;
  border-color: #1b5e20;
  box-shadow: 0 0 8px rgba(27, 94, 32, 0.2);
}

.message {
  resize: vertical;
  min-height: 120px;
}

.btn2 {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background-color: #1b5e20;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.btn2:hover {
  background-color: #135013;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.parceria {
  width: 50%;
  margin: 10px auto;
}

@media (max-width: 900px) {
  .parceria {
    width: 100%;
  }
}
  
/*TESTEMUNHOS*/

.testemunhos{
 position: relative;
 z-index: 1;

  width:75%;
  display:flex;
  justify-content: space-between;
margin: 40px auto;
padding: 60px 20px;
flex-wrap: wrap;}

.testemunhos h2 {
  width: 100%;         
  text-align: center;  
  margin-bottom: 50px; 
  padding-bottom: 50px;
}
.card{
  width:30%;
  text-align: center; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card-img img {
   width: 80%;         
  max-width: 200px;  
  aspect-ratio: 1 / 1;  
  object-fit: cover;  
  border-radius: 50%; 
  margin: 0 auto 15px auto; 
}

.card h3, .card h4, .card p {
  margin: 5px 0;
}

.card h4 {
  font-weight: 400;
  
  color: #666;
}

.card p {
  text-align: center;
  font-style: italic;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #333;
  margin-top: 15px;
}
@media (max-width:600px){
  .testemunhos{display:block}
  .card{ width:90%}
}

/*FOOTER*/


footer {
   width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:40px;
  align-items:flex-start;
  background-color: #000;
  padding:50px;
}

.sede {
    flex: 1 1 360px;
  min-width: 260px;
  margin: 20px;
}




.imagens-confiança {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.img-container img {
  width: 100%;
  max-width: 130px;
  padding: 6px;
  object-fit: contain;
}
.livro-elogios{
  max-width: 200px; 
}

.contactos{
 flex: 1 1 260px;
  min-width: 220px;
    margin: 20px;
}
.contact-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 12px;
}
.contact-item .material-icons {
  color: #81b77e;
  font-size: 2rem;
}

.contact-item a:hover {
  text-decoration: underline;
}
.destaque{
  font-weight:900;

}
.social{
  flex: 1 1 180px;
  min-width: 150px;
   margin: 20px;
   
}
.social a{
  display: inline-block;
  gap: 10px;
  align-items: center;
}
.social img{
   width: 52px;
  height: 52px;
  object-fit: contain;
  
  transition: transform 0.2s ease;
  margin: 10px;
}
.social img:hover {
  transform: scale(1.1);
}

.sede h2, .sede p, .contactos h2, .contactos p, .social h2, .social p {
  color: #fff;
  margin-bottom: 12px;
}


.bottom {
  flex-basis: 100%;
  border-top: 1px solid #222;
  margin-top: 35px;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.trust {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}
.trust a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.95rem;
}
.trust a:hover {
  color: #598A4A;
  text-decoration: underline;
}
.bottom p {
  font-size: 0.85rem;
  color: #777;
}